In [1]:
## What are the charactersitcs of tuple ? Is tuple is immutable?

##### Characterstics of tuple:-
###### Tuple is exactly same as list but tuple is immutable 
###### why because once we create a tuple the tuple object, We cannot perform any changes in that object
###### If our data is fixed and nerver changes then we should go for Tuple
###### Insertion order is preserved
###### Duplicates are allowed
###### Allows duplicated.

In [2]:
## What are the tuple methods in python ?

##### Tuple has methods like len and count sorted min() max()

In [3]:
a = (10,20,30)
print(type(a))

<class 'tuple'>

In [5]:
print(len(a))

3

In [8]:
print(a.count(10))

1

In [11]:
b = (10,40,50,30,20)
c = sorted(b)

In [12]:
c

[10, 20, 30, 40, 50]

In [13]:
print(min(b))

10

In [14]:
print(max(b))

50

In [15]:
###Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
##duplicates from the given list.

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [16]:
## Set Data Structure

##### If we want to represent a group of unique values as a single entity then w eshould go for se
##### Duplicates are not allowed
##### Insertion order is not preserved
##### Hetergeneous elements are allowed

In [17]:
list = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [18]:
set(list)

{1, 2, 3, 4}

In [20]:
##Explain the difference between the union() and update() methods for a set. Give an example of
#each method.

###### The main difference between the union() and update() methods for a set is 
###### union is just like the mathematical operator it combines the all elements form the sets 
###### Eg

In [21]:
a = {1,2,3,4,5}
print(type(a))

<class 'set'>

In [22]:
b = {4,5,6,7,8,9}

In [23]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
## update

##### To add multiple items to the set
##### Arguments are not individual elemets and these are iterable objects like list,range etc..
##### All elements present in the given iterable will be added to the set.

In [30]:
a.update(b)

In [31]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
l = [111,222,333,444]

In [33]:
a.update(l)

In [34]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 111, 222, 333, 444}

In [35]:
b.update(a)

In [36]:
b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 111, 222, 333, 444}

In [37]:
b.update(l)

In [38]:
b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 111, 222, 333, 444}

In [39]:
b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 111, 222, 333, 444}

In [40]:
### What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

##### If we want to create a values with key-value pair like student with id then we should go for dict
##### Dict are mutable
##### Heterogenous objects are allowed for both key and values.

In [41]:
d = {10: "madhu",20: "sekhar",30 : "krish"}

In [42]:
d[10]

'madhu'

In [44]:
d[30]

'krish'

In [45]:
d

{10: 'madhu', 20: 'sekhar', 30: 'krish'}

In [46]:
d[10] = "raja"

In [47]:
d

{10: 'raja', 20: 'sekhar', 30: 'krish'}

In [49]:
d

{10: 'raja', 20: 'sekhar', 30: 'krish'}

In [51]:
###Can we create a nested dictionary? If so, please give an example by creating a simple one-level
##nested dictionary.

In [53]:
d = {10:"Madhu",200:{1000:"Raja",2000:"chandra"},300:"soma"}

In [54]:
d

{10: 'Madhu', 200: {1000: 'Raja', 2000: 'chandra'}, 300: 'soma'}

In [55]:
d[200]

{1000: 'Raja', 2000: 'chandra'}

In [56]:
d[200][1000]

'Raja'

In [57]:
#### Using setdefault() method, create key named topics in the given dictionary and also add the value of
## the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
## dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [59]:
a = {'language' : 'Python', 'Course' : 'Data Science Masters', 'Modules':{"Machine Learning","Deep Learning"}}

In [60]:
a

{'language': 'Python',
 'Course': 'Data Science Masters',
 'Modules': {'Deep Learning', 'Machine Learning'}}

In [66]:
a.keys()

dict_keys(['language', 'Course', 'Modules'])

In [76]:
a.values()

dict_values(['Python', 'Data Science Masters', {'Deep Learning', 'Machine Learning'}])

In [ ]:
###What are the three view objects in dictionaries? Use the three in-built methods in python to display
# these three view objects for the given dictionary.

In [78]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [79]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [80]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [81]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [83]:
dict1['Teams']

['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [86]:
print(dict1['Teams'][0])
print(dict1['Teams'][3])

India
South Africa

In [88]:
dict1['Sport']

'Cricket'

In [90]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])